body {
    background-color: #191919;
    margin: 0;
    font-family: sans-serif;
}
  
/* CSS untuk navbar */
.navbar {
    color: #fff;
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent; /* Latar belakang transparan */
    z-index: 1000;
    transition: background-color 0.3s; /* Transisi warna latar belakang */
}
  
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 15px 0px;
} 

.nav-item a {
    text-decoration: none;
    margin-right: 1rem;
    color: #fff;
} 

.nav-item:last-child {
    margin-right: 0;
}

.logo{
    margin-right: 100%;
    display: flex;
}

.logo h1 {
    margin: 10px 0px;
    margin-left: 10px;
}

.nav-item :hover {
    color: #ff0000;
}

.login {
    display: flex;
    margin: 5px 0;
    background: radial-gradient(circle at top right, #f2ff00, #00b80c);
    padding: 10px 20px;
    border-radius: 20px;
}

.login span {
    color: #000;
    margin: 0 10px;
}

.login a {
    color: #000;
    text-decoration: none;
}

.login :hover {
    text-decoration: underline;
    color: #fff;
}

/* CSS untuk saat navbar di-scroll */
.navbar.scrolled {
    background-color: #1d2320; /* Warna latar belakang saat di-scroll */
}
.atas{
    background: radial-gradient(at top right, #3c3c3c, #191919 50%);
}
#News {
    background-image: url('assets/partikel.png');
    background-size: cover;
    background-position: center;
    height: 660px;
    padding: 20px;
    padding-top: 100px;
    margin-bottom: 100px;
    color: #fff;
}
#News div{
    margin:180px 0;
    margin-left: 80px;
}
#News h1{
    font-size: 75px;
    margin: 0;
}
#News img{
    margin-right: 80px;
    width: 680px;
    float: right;
}
#News h3{
    margin-bottom: 50px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(circle at top right, #f2ff00, #00b80c);
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
#open-popup-btn{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: #fff 1px solid;
}
#open-popup-btn:hover{
    cursor: pointer;
    background: radial-gradient(circle at top right, #f2ff00, #00b80c);
    border: none;
}
.bawah img{
    width: 100%;
    margin: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    padding: 0;
}

/* CSS untuk Pop-up */

/* Popup */
.popup {
    display: none; /* Tersembunyi secara default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang dengan transparansi */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup konten */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Scrollable list */
.scrollable-list {
    max-height: 200px; /* Batasi tinggi untuk membuat scroll */
    overflow-y: auto; /* Aktifkan scrollbar vertikal */
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.scrollable-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
.btn-menu{
    display: none;
}
#menu-btn{
    display: none;
}
.gamba{
    display: none;
  }
@media screen and (max-width: 768px) { 
    .logo{
        padding: 0 2rem;
    }
    .navbar {
        padding: 1rem 0;
    }
    .btn-menu {
        display: block;
        margin-left: auto;
    }
    .navbar{
        display: block;
        width: 100%;
    }
    .nav-list{
        display: block;
    }
    .nav-item {
        margin-left: 0;
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-item a {
        display: block;
        padding: 15px;
        border-top: 1px solid #555;
    }

    .btn-menu input:checked ~ .nav-item {
        display: inline-block;
    }

    .large-icon {
        font-size: 36px;
        color: white;
    }
    .gamba{
        display: block;
    }
    .gamta{
        display: none;
    }
    .btn-menu{
        display: block;
        font-size: 38px;
        margin-left: 150px;
    }
    #News {
        background-position: left;
    }
    #News img{
        width: 395px;
        margin: 20px 0 0 80px;
    }
    #News div{
        margin:10px 0;
        margin-left: 0px;
    }
    #News h1{
        font-size: 50px;
        margin: 0;
    }
}
